body{
  font-family: Helvetica,sans-serif;
  text-align: center;
  min-width: 600px;
  max-width: 1830px;
}

.banner a, h1, .banner2, footer a, footer{
  color: white;
}

h1, .banner2, h2, h3{
  font-weight: bold;
}

h1{
  font-size: 70px;
  line-height: 1.4;
  margin-bottom: 35px;
}

.banner{
  background-image:url("../images/fibuilding.png");
  height: 297px;

}

.banner2{
  font-size: 23px;
  background-image:url("../images/fibuilding.png");
}

.banner a{
  font-size: 18px;
}

.banner p{
  line-height:72%;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

h4{
  font-size: 14px;
  font-weight: normal;
}

footer{
  background-color: dimgray;

}

footer{
  text-align: left;
  font-size: 11px;
}

footer a{
  font-size: 18px;
}
